.app {
  width: 100%;
}

/* Banner CSS */

.bannerPage {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  height: 42.5rem;
}

.bannerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerBody span {
  font-size: 1.5rem;
}

.bannerBody h1 {
  font-size: 3rem;
}

h1 strong {
  font-weight: bolder;
}

.bannerBody p {
  font-weight: lighter;
  text-align: center;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}


/* Portfolio CSS */

.portfolioBg {
  background-color: #142850;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 12rem;
}

.portfolioBox {
  margin-top: 5rem;
  width: 68.75rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

.portfolioBox h2 {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.contactSection {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactText {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.footerSection {
  width: 100%;
  height: 3.125rem;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  text-align: center;
}

.footerText {
  color:#C4C4C4;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 16px;
  margin-left: 2.5rem;
}

@media only screen and (max-width: 1025px){
  .portfolioBox {
    width: 55.75rem;
  }
}

@media only screen and (max-width: 961px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
  .portfolioBox {
    width: 32rem;
  }
}
